* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #3a3a3a;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    text-decoration: none;
}

.bcos-container {
    margin: 0 auto;
    width: 90%;
    max-width: 1170px;
}

.button {
    background: none;
    height: 50px;
    letter-spacing: 1px;
}

/* ---- Header ---- */
#main-header {
    background: #152c83;
    padding: 12px 0;
    /* ----for sticky header---- */
    position: fixed;
    width: 100%;
    z-index: 99999;
    opacity: .95;
}

#main-header .bcos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#main-header .logo {
    background-image: url('../logo.png');
    background-size: 170px;
    height: 43px;
    width: 170px;
}

.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-icon {
    display: inline-block;
    margin: 0 5px;
}

.github {
    background-image: url('../github.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
}

.wikipedia {
    background-image: url('../wikipedia.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
}

.twitter {
    background-image: url('../twitter.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
}

/* ---- Intro ---- */
#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 570px;
}

#intro .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#intro .cta img {
    margin-bottom: 1em;
}

#intro .cta h1,
#intro .cta p,
#intro .cta .button {
    text-align: center;
}

#intro .cta h1 {
    margin: 0;
}

#intro .cta p {
    margin-bottom: 1.5em;
}

#intro .cta .button {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    color: #fff;
    background-color: #1f54ff;
    border-radius: 30px;
}

/* button hover */
/* #intro .cta .button:hover, #intro .cta .button:focus {
    background: red;
} */
/* ---- short line---- */

.short-line {
    margin-top: 10px;
    width: 40px;
    height: 2px;
    background-color: #1844d3;
}

/* ---- Vision ---- */
#vision {
    padding: 3em 0;
    margin: 0 auto;
    width: 90%;
    max-width: 1170px;
}

.vision-header {
    font-size: 12px;
    color: #0037a9;
}

.vision-contect_title {
    color: #0037a9;
    width: 250px;
}

.vision-content_text {
    margin-top: 50px;
}

.vision-content_text p {
    color: #4a4f66;
    font-size: 12px;
    width: 250px;
}

.vision-body_left {
    display: inline-block;
}

@media (min-width: 1024px) {
    .vision-body_right {
        display: inline-block;
        text-align: center;
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width:1024px) {
    .vision-body_right {
        display: inline-block;
        text-align: center;
        width: 60%;
    }
}

@media (max-width: 768px) {
    .vision-body_right {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
}

.vision-body_right img {
    height: 400px;
    margin: -200px 0 0 50px;
}

@media (max-width: 768px) {
    .vision-body_right img {
        height: auto;
        width: auto;
        margin: 0;
    }
}


/* ---- Characteristics  ---- */
#characteristics {
    display: flex;
    flex-direction: column;
    padding: 4em 0;
}

@media (max-width: 768px) {
    #characteristics {
        padding: 2em 0;
    }
}

#characteristics .characteristics-title {
    float: left;
    width: 90%;
    margin: 0 auto;
    color: #0037a9;
    margin: 0 auto;
    max-width: 1170px;
}

#characteristics .characteristics-title_left {
    display: inline-block;
    margin-top: -10px;
}

#characteristics .characteristics-title_right {
    float: right;
    display: inline-block;
    padding: 20px 0px;
}

@media (max-width: 768px) {
    #characteristics .characteristics-title_left {
        display: block;

    }

    #characteristics .characteristics-title_right {
        float: none;

    }
}

#characteristics .characteristics-title_right span {
    font-size: 12px;
}

#characteristics .card {
    border: none;
    background: none;
}

#characteristics .card img {
    margin: 0 auto;
    width: 70px;
    height: 70px
}

#characteristics h5 {
    color: #0037a9;
    display: block;
    text-align: center;
    margin-bottom: 0.35em;
    font-weight: bold;
    font-size: 16px;
}

#characteristics p {
    color: #4a4f66;
    display: block;
    text-align: center;
    font-size: 12px;
}

@media (min-width: 0) {
    .card-deck .card {
        flex: 0 0 calc(100% - 30px) !important;
    }
}

@media (min-width: 768px) {
    .card-deck .card {
        flex: 0 0 calc(50% - 40px) !important;
    }
}

@media (min-width: 1024px) {
    .card-deck .card {
        flex: 0 0 calc(25% - 30px) !important;
    }
}

/* --- use cases ---*/
#use-cases {
    background-color: #f2f5f7;
}

.usecase-container {
    padding: 3em 0;
    margin: 0 auto;
    width: 90%;
    max-width: 1170px;
}

.usecase_right {
    float: right;
    width: 60%;
    display: inline-block;
}

.usecase_left {
    width: 25%;
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
    min-width: 250px;
}

@media (max-width: 768px) {
    .usecase_right {
        width: 90%;
        margin: 50px 5% 0 5%;
    }

    .usecase_left {
        display: block;
    }
}

.usecase-contect_title {
    color: #0037a9;
    width: 250px;
}

.usecase-content_text p {
    color: #4a4f66;
    font-size: 12px;
    width: 250px;
    margin-top: 50px;
}

.carousel-indicators {
    bottom: 0 !important;
}

.carousel-indicators li {
    margin: 0 2px !important;
    border: none !important;
    background-color: #e0e0e0 !important;
}

.carousel-indicators .active {
    width: 10px !important;
    height: 10px !important;
    background-color: #0037a9 !important;
}

.carousel-prev_icon {
    background-image: url('../arrow-left.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
}

.carousel-next_icon {
    background-image: url('../arrow-right.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
}

.carousel-control {
    width: 0 !important;
    top: 45% !important;
    margin: 0 0 0 -15px;
    opacity: 1 !important;
}

.carousel-control.left {
    left: -15px !important;
}

.carousel-control.right {
    right: -15px !important;
}

@media (max-width: 768px) {
    .carousel-control.left {
        left: -12px !important;
    }

    .carousel-control.right {
        right: -7px !important;
    }
}

.carousel-desc {
    text-align: center;
    margin: 15px 0px;
}

.carousel-desc_title {
    font-size: 16px;
    font-weight: bold;
    color: #0037a9;
}

.carousel-desc_content {
    font-size: 12px;
    line-height: 1.57;
    text-align: center;
    color: #4a4f66;
    display: block;
    width: 320px;
    margin: 0 auto;
}

.carousel-inner>.item>img {
    width: 100%;
}

/* ---- Footer ---- */
#main-footer {
    background: #d9e4ea;
    flex: 1;
    padding: 2em 0;
    text-align: center;
}

#main-footer h2 {
    color: #0037a9;
}

#main-footer p {
    color: #4a4f66;
    font-size: 12px;
    max-width: 400px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
}

#main-footer .button {
    align-items: center;
    padding: 10px 30px;
    color: #fff;
    background-color: #1f54ff;
    border-radius: 30px;
    width: 190px;
}

.partners-content {
    width: 80%;
    margin: 0 auto;
}

.partners-content .list {
    overflow: auto;
    list-style: none;
    margin-bottom: 50px;
    text-align: center;
    display: block;
}

.partners-content .list li {
    vertical-align: middle;
    float: left;
    width: 15%;
    height: auto;
    margin: 0 15px;
}

.partners-content .list .cell {
    width: auto;
    height: 60px;
    vertical-align: middle;
    display: table-cell;
}

@media (max-width: 890px) {
    .partners-content .list li {
        width: 14%;
    }
}

@media (max-width: 768px) {

    .partners-content .list {
        margin-left: -30px;
    }

    .partners-content .list .cell {
        height: auto;
    }

    .partners-content .list li {
        width: 100%;
        text-align: -webkit-center;
        margin: 10px auto;
    }

    .partners-content .list li img {
        width: 50%;
    }
}