* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif !important;
    color: #3a3a3a;
    margin: 0 auto;

}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    text-decoration: none;
}

.bcos-container {
    margin: 0 auto;
    width: 90%;
    max-width: 1170px;
}

.button {
    background: none;
    height: 50px;
    letter-spacing: 1px;
}

/* ---- Header ---- */
#main-header {
    background: #fff;
    padding: 6px 0;
    /* ----for sticky header---- */
    position: fixed;
    width: 100%;
    z-index: 99999;
    box-shadow: 0px 0px 15px grey;
    opacity: .95;
}

#main-header .bcos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#main-header .logo {
    background-image: url('../logo.png');
    background-size: 170px;
    height: 43px;
    width: 170px;
}

.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-icon {
    display: inline-block;
    margin: 0 5px;
}

.fa-mobile-phone {
    font-size: 16px !important;
}

.social-icon .fa-phone-square {
    color: #fff;
    font-size: 16px !important;
}

.contact-us_botton {
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #fff !important;
    background-color: #1f54ff;
    border-radius: 5px;
    text-decoration: none !important;
    height: 30px;
}

/* ---- Intro ---- */
#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    margin-top: 54px;
}

#intro .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#intro .cta img {
    margin-bottom: 1em;
}

#intro .cta h1,
#intro .cta p,
#intro .cta .button {
    text-align: center;
}

#intro .cta h1 {
    margin: 0;
}

#intro .cta p {
    margin-bottom: 1.5em;
    margin-top: 5px;
    font-size: 20px;
}

#intro .cta .button {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    color: #fff;
    background-color: #1f54ff;
    border-radius: 5px;
    text-decoration: none;
    height: 38px;
}

/* ---- short line---- */

.short-line {
    margin-top: 10px;
    width: 40px;
    height: 2px;
    background-color: #1844d3;
}

/* ---- Vision ---- */
#vision {
    padding: 2em 0;
    background-color: #fafafa;
}

.vision-header {
    font-size: 12px;
    color: #0037a9;
    margin: 0 auto;
    width: 90%;
    max-width: 1170px;
}

.vision-body {
    margin: 0 auto;
    width: 90%;
    max-width: 1170px;
}

.vision-contect_title {
    color: #0037a9;
    width: 100%;
}

.vision-content_text {
    margin-top: 30px;
}

.vision-content_text p {
    color: #4a4f66;
    font-size: 16px;
}

.vision-body_left {
    display: inline-block;
}

@media (min-width: 1024px) {
    .vision-body_right {
        display: inline-block;
        text-align: center;
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width:1024px) {
    .vision-body_right {
        display: inline-block;
        text-align: center;
        width: 60%;
    }
}

@media (max-width: 768px) {
    .vision-body_right {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
}

.vision-body_right img {
    height: 400px;
    margin-top: -80px;
}

@media (max-width: 1024px) {
    .vision-body_right img {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .vision-body_right img {
        height: auto;
        width: auto;
        margin: 0;
    }
}


/* ---- Characteristics  ---- */
#characteristics {
    display: flex;
    flex-direction: column;
    padding: 3em 0 0 0;
    background-color: #fff;
}

@media (max-width: 768px) {
    #characteristics {
        padding: 2em 0;
    }
}

#characteristics .characteristics-title {
    float: left;
    width: 90%;
    margin: 0 auto;
    color: #0037a9;
    margin: 0 auto;
    max-width: 1170px;
}

#characteristics .characteristics-title_left {
    display: inline-block;
    margin-top: -10px;
}

#characteristics .characteristics-title_right {
    float: right;
    display: inline-block;
    padding: 20px 0px;
}

@media (max-width: 768px) {
    #characteristics .characteristics-title_left {
        display: block;
    }

    #characteristics .characteristics-title_right {
        float: none;
    }
}

#characteristics .characteristics-title_right span {
    font-size: 12px;
}

.my-card {
    border: none;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

#characteristics .my-card {
    background: none;
    margin-bottom: 2em;
}

#characteristics .my-card img {
    margin: 0 auto;
    width: 30%;
}

.card-body {
    padding: 1.25rem 0 0 0 !important;
}

#characteristics h5 {
    color: #0037a9;
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0;
    font-weight: bold;
    font-size: 16px;
}

#characteristics p {
    color: #4a4f66;
    display: block;
    text-align: left;
    font-size: 12px;
}

@media (max-width: 1024px) {
    #characteristics p {
        text-align: center;
    }
}

#characteristics .whitepaper-container {
    text-align: center;
    margin-top: 20px;
}

#characteristics .whitepaper {
    align-items: center;
    padding: 10px 45px;
    color: #fff;
    background-color: #1f54ff;
    border-radius: 30px;
    width: 190px;
    text-decoration: none;
}

@media (min-width: 0) {
    .card-deck .my-card {
        flex: 0 0 100%;
    }
}

@media (min-width: 768px) {
    .card-deck .my-card {
        flex: 0 0 50%;
    }
}

@media (min-width: 1024px) {
    .card-deck .my-card {
        flex: 0 0 20%;
    }
}

/* --- use cases ---*/
#use-cases {}

.usecase-container {}

.usecase_header {
    padding: 2em 0 0.5em 0;
    background-color: #fff;
}

.usecase_header-container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.usecase-contect_title {
    color: #0037a9;
}

.usecase-content_text p {
    color: #4a4f66;
    font-size: 16px;
    margin-top: 20px;
}



.usecase-body {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.usecase-body .case-title {
    color: #0037a9;
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0;
    font-weight: bold;
    font-size: 16px;
}

.case-body {
    padding: 1.25rem;
}

.case-text {
    margin: 0 0 20px;
    color: #4a4f66;
    display: block;
    text-align: left;
    font-size: 12px;
}

.more-cases i {
    font-size: 16px;
}

.more-cases {
    text-align: center;
    margin: 1em 0 3em 0;
}

.more-cases a {
    font-size: 16px;
}

/* ---- organizations ---- */
#organizations {
    background: #fafafa;
    flex: 1;
    padding: 1em 0;
}

#organizations h2 {
    color: #0037a9;
}

#organizations p {
    color: #4a4f66;
    font-size: 12px;
    max-width: 400px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
}

#organizations .getfb {
    align-items: center;
    padding: 10px 30px;
    color: #fff;
    background-color: #1f54ff;
    border-radius: 30px;
    width: 190px;
    text-decoration: none;
}

.partners-content {
    width: 80%;
}

.partners-content .list {
    overflow: auto;
    list-style: none;
    margin-bottom: 15px;
    text-align: center;
    display: block;
    margin-left: -50px;
}


.partners-content .list li {
    vertical-align: middle;
    float: left;
    width: 12%;
    height: auto;
    margin: 0 15px;
}

.partners-content .list .cell {
    width: auto;
    height: 60px;
    vertical-align: middle;
    display: table-cell;
}

@media (max-width: 890px) {
    .partners-content .list li {
        width: 14%;
    }
}

@media (max-width: 768px) {

    .partners-content {
        margin: 0 auto;

    }

    .partners-content .list {
        margin-left: -30px;
    }

    .partners-content .list .cell {
        height: auto;
    }

    .partners-content .list li {
        width: 100%;
        text-align: -webkit-center;
        margin: 10px auto;
    }

    .partners-content .list li img {
        width: 50%;
        max-width: 230px;
    }
}

/* ----about us---- */
#about-us {
    background-color: #fafafa;
}

#about-us .bcos-container {
    padding: 1em 0;
    max-width: 1170px;
    margin: 0 auto;
    width: 90%;
}

#about-us .about-fb_container {
    display: inline-block;
    padding: 0;
}

#about-us .about-fb_container h2 {
    color: #0037a9;
}

#about-us .about-fb_container p {
    color: #4a4f66;
    font-size: 16px;
    margin-top: 20px;
}

.follow-fb_block {
    border: 1px #f2f5f7 solid;
    margin: 10px;
    box-shadow: 0 5px 15px lightgrey;
    padding: 0 0 10px 0px;
    margin-top: 65px;
    margin-left: 6%;
}

@media (max-width: 767px) {
    .follow-fb_block {
        margin: 0;
    }
}

#about-us h3 {
    color: #0037a9;
}

/* -----join us---- */
#join-us {
    padding: 1em 0 2em 0;
    max-width: 1170px;
    margin: 0 auto;
    width: 90%;
}

#join-us h2 {
    color: #0037a9;

}

#join-us p {
    color: #4a4f66;
    font-size: 16px;
    margin-top: 20px;
}

/* ----contact us---- */

#contact-us {
    background: #f2f2f2;
}

#contact-us .contact-us_container {
    padding: 2em 0;
    max-width: 1170px;
    margin: 0 auto;
    width: 90%;
}