* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #3a3a3a;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    text-decoration: none;
}

.bcos-container {
    margin: 0 auto;
    width: 90%;
    max-width: 1170px;
}

.button {
    background: none;
    height: 50px;
    border-radius: 3px;
    letter-spacing: 1px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    transition: background 0.4s;
}

/* ---- Header ---- */
#main-header {
    background: #13287b;
    padding: 0.85em 0;
}

#main-header .bcos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#main-header .logo,
#main-header nav a {
    padding: 10px;
}

@media (min-width: 768px) {

    #main-header .logo,
    #main-header nav a {
        padding: 10px 15px;
    }
}

#main-header .logo {
    font-size: 1.35em;
    color: #28415E;
    background-image: url('../logo.png');
    height: 43px;
    width: 170px;
}

#main-header nav a {
    font-size: 0.65em;
    text-transform: uppercase;
    color: #fff;
}

@media (min-width: 768px) {
    #main-header nav a {
        font-size: 0.95em;
    }
}

/* ---- Intro ---- */
#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 0;
    background-image: url('../banner.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
}

#intro .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#intro .cta .splash {
    display: none;
}

@media (min-width: 768px) {
    #intro .cta .splash {
        display: block;
        width: 200px;
    }
}

#intro .cta img {
    margin-bottom: 1em;
}

#intro .cta h1,
#intro .cta p,
#intro .cta .button {
    text-align: center;
}

#intro .cta h1 {
    margin: 0;
}

#intro .cta p {
    margin-bottom: 1.5em;
}

#intro .cta .button {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    color: #fff;
    background-color: #1f54ff;
    border-radius: 30px;
}

/* button hover */
/* #intro .cta .button:hover, #intro .cta .button:focus {
    background: #B79D55;
    color: #fff;
} */
/* ---- short line---- */

.short-line {
    margin-top: 10px;
    width: 40px;
    height: 2px;
    background-color: #1844d3;
}
/* ---- Vision ---- */
#vision {
    padding: 3em 0;
    margin: 0 auto;
    width: 90%;
    max-width: 1170px;
}

.vision-header {
    font-size: 12px;
    color: #0037a9;
}

.vision-contect_title {
    color: #0037a9;
    width: 250px;
}

.vision-content_text p {
    color: #4a4f66;
    font-size: 12px;
    width: 250px;
}

/* ---- Characteristics  ---- */
#characteristics {
    display: flex;
    flex-direction: column;
    padding: 4em 0;
    background-color: #f2f5f7;
}

#characteristics .characteristics-title {
    float: left;
    width: 90%;
    margin: 0 auto;
    color: #0037a9;
    margin: 0 auto;
    max-width: 1170px;
}

#characteristics .characteristics-title-left {
    display: inline-block;
    margin-top: -10px;
}

#characteristics .characteristics-title-right {
    float: right;
    display: inline-block;
    padding: 20px 0px;
}

#characteristics .characteristics-title-right span{
    font-size: 12px;
}

#characteristics .card {
    border: none;
    /* background: none; */
}

#characteristics h5 {
    color: #0037a9;
    display: block;
    text-align: center;
    margin-bottom: 0.35em;
    font-weight: bold;
}

#characteristics p {
    color: #4a4f66;
    display: block;
    text-align: center;
    font-size: 12px;
}

@media (min-width: 0) {
    .card-deck .card {
        flex: 0 0 calc(100% - 30px) !important;
    }
}

@media (min-width: 768px) {
    .card-deck .card {
        flex: 0 0 calc(50% - 40px) !important;
    }
}

@media (min-width: 1024px) {
    .card-deck .card {
        flex: 0 0 calc(25% - 30px) !important;
    }
}

/* --- use cases ---*/
#myCarousel {
    width: 90%;
    margin: 0 auto;
    max-width: 1170px;
}

.usecase-title {
    width: 90%;
    margin: 0 auto;
    color: #0037a9;
    margin: 0 auto;
    max-width: 1170px;
}

/* ---- Footer ---- */
#main-footer {
    background: #d9e4ea;
    flex: 1;
    padding: 2em 0;
    text-align: center;
}

#main-footer h2 {
    color: #0037a9;
}

#main-footer p {
    color: #4a4f66;
    font-size: 12px;
    width: 400px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
}

#main-footer .button {
    align-items: center;
    padding: 10px 30px;
    color: #fff;
    background-color: #1f54ff;
    border-radius: 30px;
    width: 190px;
}